.embedded {
	display: none;
}

body {
	margin: 0px;
	/*overflow: hidden;*/
	font-family:arial;
	font-size:15px;
}
.game {
	width: 800px;
	height: 600px;
	margin-left: -400px;
	left: 50%;
	position: absolute;
	border: 1px solid black;
}
#main, .overlay {
	width: 800px;
	height: 600px;
}
.overlay { z-index: 999; }

canvas { background-image: url('assets/background.png'); }

button:first-child {
	margin-top: 0px;
}
button, .button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;

	margin-top: 5px;
}
button:hover, .button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
button:active, .button:active {
	position:relative;
	top:1px;
}

.menu button {
	display: block;
	width: 100%;
	height: 50px;
}
.menu .separator {
	height: 20px;
}

.overlay {
	position: absolute;
	width: 800px;
	height: 600px;
}

.menu {
	position: absolute;
	left: 300px;
	top: 200px;
	width: 200px;
	background: white;
	border-radius: 15px;
	padding: 10px;
}

.logo {
	position: absolute;
	top: 0px; left: 0px;
	width: 800px;
}

.sharebox {
	position: absolute;
	top: 200px;
	left: 200px;
	background: white;
	border-radius: 15px;
	padding: 10px;
}
.sharebox textarea {
	display: block;
	width: 400px;
	height: 200px;
}
.sharebox button {
	display: block;
	float: right;
}

#messageDialog {
	width: 100%;
	border-radius: 0 0 10px 10px;
	border: 1px solid gray;
}

#messagesBox {
	height: 100px;
	overflow: auto;
	margin: 5px 10px;
	border-bottom: 1px solid gray;
}

#playername {
	cursor: pointer;
}

#sendMessageBox {
	display: block;
	margin: 5px 10px;
	border: 0px;
	width: 700px;
}